@charset 'utf-8';

/* 基础定义 */

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 100%;
    /* 16/16 = 100% */
    background-color: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

div {
    position: relative;
}

.header {
    width: 400px;
    margin: 10px auto;
}


/* 分数 */

.header .title {
    display: inline-block;
    margin-right: 40px;
}

.header .title a {
    text-decoration: none;
    color: #776e65;
    font-weight: bold;
    font-size: 74px;
    line-height: 66px;
    cursor: pointer;
}

.header .score-box {
    display: inline-block;
    vertical-align: super;
    float:right;
}

.header .score-box > div {
    display: inline-block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 25px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    /*margin-top: 8px;*/
    text-align: center;
}

.header .score-box .score:after,
.header .score-box .best:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da;
}

.header .score-box .score:after {
    content: "得分";
}

.header .score-box .best:after {
    content: "最好成绩";
}

.start-button {
    display: inline-block;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    border: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    display: block;
    text-align: center;
    float: right;
}


/* 主体的位置 */

.introduction {
    width: 400px;
    margin: 10px auto;
}
.introduction h4 {
    line-height: 40px;
}

.content {
    position: relative;
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    background-color: #bbada0;
    padding: 16px;
    overflow: hidden;
}


/* 网格系统 */

.content .grid {
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 4px;
}


/* 每一行间隔是16，和外部padding模拟的边框一样大小 */

.content .grid .row {
    margin-bottom: 16px;
    border-radius: 3px;
    width: 1500px;
}


/* 清除每行的浮动 */

.content .grid .row::after {
    content: "";
    display: block;
    clear: both;
}


/* 每行中的每列，每个cell将会覆盖下级的背景色 */

.content .grid .row .cell {
    background-color: rgba(238, 228, 218, 0.35);
    margin-right: 16px;
    border-radius: 3px;
    /*这个是计算后的值 ( 400 - 3*16  )/4 */
    width: 88px;
    height: 88px;
    float: left;
}


/* 这元素位置要和下面的重合，但是值得注意的是他的z-index值应当大于下面的 */

.content .tile {
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    z-index: 10;
    position: absolute;
}

.content .tile-cell {
    position: absolute;
    text-align: center;
    line-height: 88px;
    width: 88px;
    font-size: 53px;
    color: #f9f6f2;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    border-radius: 3px;
    font-weight: bold;
    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: top, left;
}

.content .tile-new {
    -webkit-animation: appear 200ms ease 100ms;
    -moz-animation: appear 200ms ease 100ms;
    animation: appear 200ms ease 100ms;
    animation-fill-mode: backwards;
}

.content .tile-merged {
    z-index: 11;
    -webkit-animation: pop 300ms ease 100ms;
    -moz-animation: pop 300ms ease 100ms;
    animation: pop 300ms ease 100ms;
    animation-fill-mode: backwards;
}


/* 控制盒子 */

.content .control-box h2 {
    font-size: 60px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    color: #f9f6f2;
}

.content .control-box .control {
    padding: 90px;
}

.content .control-box {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: -16px;
    margin-left: -16px;
    padding-top: 200px;
    z-index: 12;
    background: rgba(238, 228, 218, 0.5);
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    animation-fill-mode: backwards;
}

.content .control-box button {
    display: inline-block;
    background: #8f7a66;
    border-radius: 3px;
    border: none;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes pop {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pop {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pop {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content .tile-cell.tile-2 {
    background-color: #eee4da;
    color: #776e65;
}

.content .tile-cell.tile-4 {
    background-color: #ede0c8;
    color: #776e65;
}

.content .tile-cell.tile-8 {
    background-color: #f2b179;
}

.content .tile-cell.tile-16 {
    background-color: #f59563;
}

.content .tile-cell.tile-32 {
    background-color: #f67c5f;
}

.content .tile-cell.tile-64 {
    background-color: #f65e3b;
}

.content .tile-cell.tile-128 {
    background-color: #edcf72;
}

.content .tile-cell.tile-256 {
    background-color: #edcc61;
}

.content .tile-cell.tile-512 {
    background-color: #edc850;
    font-size: 43px;
}

.content .tile-cell.tile-1024 {
    background-color: #edc53f;
    font-size: 32px;
}

.content .tile-cell.tile-2048 {
    background-color: #edc22e;
    font-size: 32px;
}